@media screen and (max-width:1600px) {} /* 1600 */
@media screen and (max-width:1440px) {} /* 1440 */
@media screen and (max-width:1366px) {
    .header .nav>li>a { padding: 28px 15px; font-size: 14px; }
    .header .nav { margin-left: 9%; }
    .header .lang a+a { margin-left: 20px; }
    .banner .txts { top: 30%; }
    .in-s .pic { width: 145px; height: 90px; margin-right: 20px; }
    .in-s .tx { height: 40px; font-size: 12px; line-height: 20px !important; }
    .in-s .nowti{ font-size: 15px; }
    .in-s .in-date { line-height: 14px; margin-top: 10px; }
    .in-x, .in-x .nowti { line-height: 32px; }
    .in-list .in-x { margin-top: 25px; padding-top: 15px; }
    .f-ctas p+p { margin-left: 30px; }
    .ix-pro { width: 47%; }
    .subcomp-list .t, .subcomp-list .b{ padding-left: 5%; padding-right: 5%; }
    .spec-news .pic { height: 253px; }
    .spec-news .txts{ padding-top: 0; }
    .spec-news .tx{ margin-top: 20px; }
    .spec-news .more{ margin-top: 50px; }
    .recruit-list .t .r1 .nowti{ padding-left: 30px; }
    .recruit-list .b{ padding-left: 30px; padding-right: 30px; }
    .honor-list .ma { margin-left: 40px; }
    .honor-list{ margin-left: -40px; }
    .his-list .pic{ height: 96px; }
    .his-list .item1 { padding-top: 212px; }
    .his-list:before{ top: 212px; }
    .his-list .slick-arrow { top: 192px; }
    .his-list { padding: 0 50px; }
} /* 1366 */
@media screen and (max-width:1201px) {
    .banner .txts .ti1{ font-size: 40px; }
    .banner .txts .ti2{ font-size: 20px; }
    .banner .txts{ width: 400px; top: 24%; }
} /* 1281 */
@media screen and (max-width:1024px) {
    .mtop, .header{ height: 60px; }
    .header .lang, .header .nav{ display: none; }
    .header .logo{ margin-top: 8px; transform-origin: left center; transform: scale(0.8); }
    .menu-handler{ display: block; }
    .banner .txts{ top: 50%; transform: translateY(-50%); right: 5%; max-width: 45%; }
    .f-ctas p{ float: none; }
    .f-ctas p+p { margin: 10px 0 0 0; }
    .footer .f-cop{ padding-top: 10px; }
    .ip-list { margin-left: -20px; }
    .ip-list a { margin-left: 20px; }
    .spec-news{ padding-left: 15px; padding-right: 30px; }
    .spec-news .pic{ width: 386px; height: 238px; margin-right: 30px; }
    .spec-news .more{ margin-top: 40px; }
    .spec-news .nowti{ font-size: 22px; }
    .news-list a{ padding: 0; }
    .nd-b .freeTx { padding: 0 5%; }
    .job-mess-list .b, .job-mess-list .t{ padding-left: 5%; padding-right: 5%; }
    .job-mess-list .job-plus{ right: 5%; }
    .pro-table .tit{ padding-left: 25px; }
    .sos-box{ margin: 0; transform: translateY(-50%); }
    .honor-list .ma { margin-left: 30px; }
    .honor-list{ margin-left: -30px; }
    .his-list .item{ padding-top: 0;  }
    .his-list .item2 .his-cont{ padding: 70px 0 0 0; }
    .his-list:before{ top: 5px; }
    .his-list .pic{ height: auto; }
    .his-list .item1 .dot1{ top: 0; }
    .his-list .item1 .dot2{ top: 90px; }
    .his-list .item2 .dot1{ bottom: auto; top: 0; }
    .his-list .item2 .dot1:before{ top: 100%; bottom: auto; margin: 2px 0 0 0; }
    .his-list .item2 .dot2{ top: 90px; bottom: auto; }
    .his-list .his-cont{ margin-right: 10px; }
    .his-list .date{ height: auto; line-height: 1; }
    .his-list .tx{ height: auto; }
    .his-list{ overflow: visible; padding: 0 55px; }
    .his-list .slick-arrow{ top: -15px; }
    .cta-list li{ font-size: 14px; }
    .mess-inp{ display: flex; }
    .mess-inp .mess-type, .mess-inp .tel, .mess-inp>.inp{ flex: 1; }
    .mess-inp .t1 { width: 50px; }
    .mess-inp .t2 { width: 120px; }
    .mess-inp .t3 { width: 60px; }
    .picto-list a{ margin-left: 35px; }
    .picto-list{ margin-left: -35px; }
    .picto-list .pic2 { width: 155px; margin-right: 20px; }

    
} /* 1024 */
@media screen and (max-width:861px) {
    .banner .txts .ti1 { font-size: 32px; }
    .banner .txts .ti2 { font-size: 16px; }
    .banner .ix-more{ width: auto; height: auto; line-height: 1.8; background: none; color: #000; }
    .banner .ix-more .sj{ display: none; }
    .banner .txts.white .ix-more{ color: #fff; }
    .banner .txts .more { margin-top: 15px; }
    .banner .slick-dots li { width: 8px; height: 8px; }
    .banner .slick-dots { bottom: 20px; }
    .footer .f-ctas, .footer .f-cop{ float: none; }
    .footer{ padding: 20px 0 30px 0; }
    .ix-pro, .ix-news{ width: 100%; float: none; }
    .ip-list a { margin-left: 30px; }
    .ip-list{ margin-left: -30px; }
    .ix1 { padding-bottom: 70px; }
    .subcomp-list .pic2{ width: 30%; margin-left: 5%; }
    .cul-map .cm-ti{ display: none; }
    .cul-map .cont { margin-left: 0; }
    .spec-news .pic{ display: none; }
    .spec-news{ padding: 30px 5% 40px 5%; }
    .spec-news .nowti{ font-size: 24px; }
    .nd-b .freeTx { padding: 0; }
    .nd-back .nowti{ max-width: 35%; }
    .recruit-list .r4, .recruit-list .r2{ display: none; }
    .recruit-list .t>div{ width: 20%; }
    .recruit-list .t .r1{ width: 40%; }
    .pro-list .item>a { margin-left: 15px; }
    .pro-list{ margin-left: -15px; }
    .pro-list .slick-prev { left: 15px; }
    .pro-table table{ width: 800px; }
    .tab-box{ overflow: hidden; overflow-x: auto; -webkit-overflow-scrolling: touch; }
    .query-table table td, .query-table table th{ padding-left: 25px; }
    .query-table table{ width: 800px; }
    .rdi-list .nowti { line-height: 40px; font-size: 12px; }
    .rd-arrow .slick-arrow { font-size: 24px; }
    .rd-arrow .slick-prev{ left: 5px; }
    .rd-arrow .slick-next{ right: 5px; }
    .honor-list .nowti{ font-size: 12px; }
    .honor-list .ma { margin-left: 20px; }
    .honor-list{ margin-left: -20px; }
    .honor-list a{ margin-bottom: 25px; }
    .ab3{ padding-bottom: 75px; }
    .ab3 .honor-list{ margin-top: 60px; }
    .const-list a{ padding-right: 5%; }
    .picto-list .pic2{ width: 115px; }
    .picto-list a{ padding: 10px; margin-left: 25px; }
    .picto-list{ margin-left: -25px; }
    .notice-table table td, .notice-table table th{ padding-left: 5%; padding-right: 5%; }
    .notice-table table th:nth-child(1),
    .notice-table table td:nth-child(1) { width: 180px; padding-right: 0; }
} /* 861 */
@media screen and (max-width:641px) {
    .banner .txts .ti1 { font-size: 26px; }
    .banner .txts .ti2 { font-size: 14px; }
    .banner .ix-more{ font-size: 12px; }
    .cm-list li{ width: 50%; }
    .cm-list .freeTx{ margin-top: 15px; }
    .query-t .l{ width: 100%; margin-bottom: 5px; }
    .query-t .c-selicts{ width: 49%; margin-left: 0; }
    .query-t .c-selicts + .c-selicts{ margin-left: 2%; }
    .query-t{ line-height: 1.8; padding-left: 5%; padding-right: 5%; }
} /* 641 */
@media screen and (max-width:601px) {
    .banner .pic2 > img{ display: none; }
    .banner .pic2 .m{ display: block; }
    .banner .txts{ width: 90%; max-width: none; }
    .page-ti .ti{ font-size: 26px; }
    .page-t .page-ti { margin-top: 8.33vw; }
    .page-t .ab-tx { margin-top: 10vw; }
    .page-t{ padding: 2.5vw 0 12vw 0; }
    .ab-tx{ padding-left: 3.33vw; }
    .ab1 .pic { margin-bottom: 8.33vw; }
    .ab1 .subcomp-list { margin-top: 12vw; }
    .subcomp-list .t{ padding-top: 3.33vw; padding-bottom: 3.33vw; }
    .subcomp-list .name{ font-size: 16px; }
    .ab1{ padding-bottom: 70px; }
    .jb1, .nw1, .ab2{ padding: 12vw 0 70px 0; }
    .nw1 .pager, .nw1 .news-list{ margin-top: 10vw; }
    .nd-t{ padding: 14vw 0 12vw 0; }
    .nd-b { padding: 12vw 0 70px 0; }
    .nd-b .nd-back { margin-top: 12vw; }
    .nd-back{ padding-top: 8.33vw; }
    .job-mess-list .b{ padding-top: 7.5vw; padding-bottom: 12vw; }
    .recruit-list .r5{ display: none; }
    .recruit-list .t>div { width: 25%; }
    .recruit-list .t .r1{ width: 50%; }
    .recruit-list .b{ padding: 7.5vw 5% 12vw 5%; }
    .recruit-list .more{ margin-top: 10vw; }
    .recruit-list .t{ padding-left: 5%; }
    .recruit-list .t .r1 .nowti { padding-left: 0; }
    .recruit-list .t .job-plus{ right: 5%; }
    .pro-tx, .pro-base-mess, .pro1 { padding: 12vw 0 14vw 0; }
    .pro-search input, .pro-search select{ width: 49%; margin-right: 2%; }
    .pro-search select{ margin-right: 0; }
    .pro-search .icon{ margin-top: 2%; }
    .pro1 .anti-fake, .pro1 .pro-list { margin-top: 10vw; }
    .pro-intro .pro-ti { margin-bottom: 5vw; }
    .pro-intro .ig{ display: none; }
    .pro-ti .ch{ font-size: 24px; margin-right: 2.5vw; }
    .pro-ti .en{ font-size: 14px; }
    .anti-fake .inp-b+.inp-b { margin-top: 2.5vw; }
    .anti-fake .subBtn{ margin-top: 4.17vw; }
    .pro-base-mess .pro-ti { margin-bottom: 5vw; }
    .pro-base-mess .pro-mess-list { margin-top: 10vw; }
    .pro-mess-list li+li { margin-left: 7.5vw; padding-left: 7.5vw; }
    .pro-tx .pd-ti { margin-bottom: 5vw; }
    .pro-tx .pro-table{ margin-top: 10vw; }
    .query-map{ height: 81.67vw; }
    .ser1{ padding: 12vw 0 70px; }
    .ser1 .query-table, .ser-tx .query-t{ margin-top: 10vw; }
    .ser-tx .query-map{ margin-bottom: 5.83vw; }
    .query-table table td, .query-table table th{ padding-top: 2.5vw; padding-bottom: 2.5vw; }
    .sos-box .ch{ font-size: 24px; }
    .sos-box .en{ font-size: 18px; }
    .sos-box .tx1{ margin-top: 10vw; }
    .sos-box .ch{ margin-top: 5vw; }
    .rd-tx .rdi-list{ width: 100%; float: none; margin: 0 0 6.67vw 0; }
    .rdi-list .nowti{ line-height: 50px; font-size: 14px; }
    .ab3 .honor-list{ margin-top: 10vw; }
    .ab3{ padding: 12vw 0 45px 0; }
    .inv1, .cta1, .ab4{ padding: 12vw 0 70px 0; }
    .his-list .his-cont{ margin-right: 0; }
    .cta-list li{ width: 100%; float: none; margin-bottom: 12vw; }
    .cta-list, .cta-list .ma{ margin-left: 0; }
    .cta-list .ti2{ margin-bottom: 4.17vw; padding-bottom: 3.33vw; }
    .mess-tx { padding: 3vw 5%; }
    .fill-in-mess .co{ padding-left: 5%; padding-right: 5%; }
    .fill-in-mess .t{ padding-top: 6.67vw; padding-bottom: 13.33vw; }
    .mess-end>p, .mess-inp>label{ width: 95px; }
    .fill-in-mess .b{ padding-bottom: 6.67vw; }
    .mess-inp .tel .inp{ margin-top: 3px; }
    .mess-inp .telName{ padding-top: 3px; }
    .cta1 .fill-in-mess, .fill-in-mess .t .mess-end{  margin-top: 12vw; }
    .consult-group{ width: 238px; margin-left: auto; margin-right: auto; }
    .consu-ma:nth-child(3){ margin-left: 0; }
    .consu-ma{ margin-top: 30px; }
    .inv-list .t, .inv-name{ padding: 3.33vw 5%; }
    .inv-list .b{ padding: 5vw 5% 8.33vw 5%; }
    .inv-c .ti{ margin-bottom: 3.33vw; }
    .inv-c+.inv-c{ margin-top: 7.5vw; }
    .inv-c .inv-link{ margin-top: 3.33vw; }
    .comp-infor table td, .comp-infor table th { padding-left: 5%; padding-right: 5%; }
    .picto-list li{ width: 100%; float: none; }
    .picto-list, .picto-list a{ margin-left: 0; }
    .picto-list a{ padding: 20px; }
    .picto-list .pic2{ width: 39%; margin-right: 5.83vw; }
    .inv2{ padding: 12vw 0 35px 0; }













} /* 601 */
@media screen and (max-width:481px) {
    .menuBox{ width: 220px; right: -220px; }
    .menuBox .lang a { margin-top: 23px; font-size: 14px; }
    .navMobile dd>a{ font-size: 16px; padding-top: 12px; padding-bottom: 12px; }
    .navMobile .mtv>a{ font-size: 14px; padding-top: 6px; padding-bottom: 6px; }
    .f-ctas .num { font-size: 16px; }
    .f-ctas .icon { width: 20px; height: 20px; margin-bottom: 2px; line-height: 20px; font-size: 14px; }
    .in-s .pic{ display: none; }
    .ip-list a { margin-left: 15px; }
    .ip-list{ margin-left: -15px; }
    .page-ti .ti { font-size: 22px; }
    .bread-nav{ font-size: 12px; }
    .bread-nav .icon { font-size: 14px; margin-right: 5px; }
    .subcomp-list .name{ font-size: 14px; }
    .subcomp-list .more{ width: 40px; font-size: 12px; }
    .news-list .a2 { margin-right: 10px; }
    .spec-news .pic{ display: block; width: 100%; height: auto; float: none; margin: 0 0 5vw 0; }
    .spec-news{ padding-top: 5%; padding-bottom: 30px; }
    .spec-news .nowti{ font-size: 20px; }
    .spec-news .more{ margin-top: 30px; }
    .nd-t .ti{ font-size: 20px; }
    .nd-t .in-date { font-size: 12px; }
    .nd-t .in-date i { font-size: 12px; }
    .share a{ font-size: 12px !important; }
    .share a:after { font-size: 14px; }
    .nd-t .nd-mess { margin-top: 5px; }
    .nd-back .nex, .nd-back .pre{ float: none; }
    .nd-back .nowti{ max-width: none; line-height: 2.5; }
    .nd-back .back{ margin: 5vw 0 0 0; }
    .job-mess-list .t .nowti { line-height: 44px; font-size: 14px; }
    .job-plus{ width: 14px; }
    .job-plus:before{ height: 14px; left: 6px; top: -6px; }
    .recruit-list .r3{ display: none; }
    .recruit-list .t>div { width: 40%; }
    .recruit-list .t .r1 { width: 60%; }
    .recruit-list .t{ padding-right: 40px; }
    .recruit-list .t .nowti { line-height: 50px; }
    .recruit-list li:first-child .t{ font-size: 14px; }
    .pro-ti .ch{ font-size: 20px; margin-right: 2.5vw; }
    .pro-ti .en{ font-size: 12px; }
    .pro-intro .ig{ display: block; width: 100%; float: none; margin: 0 0 6.67vw 0; }
    .anti-fake .inp-b input{ width: 45%; }
    .anti-fake .inp-b .lin{ width: 10%; }
    .anti-fake .inp-b .lin:before { left: 5px; right: 5px; }
    .pro-mess-list span{ font-size: 16px; margin-bottom: 5px; }
    .pro-mess-list li{ font-size: 12px; }
    .query-t .l{ margin-bottom: 0; }
    .ser-tx .ti{ font-size: 18px; }
    .sos-box .ch{ font-size: 20px; }
    .sos-box .en{ margin-top: 5px; font-size: 14px; }
    .sos-box .fib{ margin-top: 5px; }
    .honor-list a{ width: 50%; }
    .his-arrow .slick-arrow{ width: 30px; height: 30px; font-size: 12px; line-height: 30px; }
    .his-list .slick-arrow { top: -10px; }
    .his-list { padding: 0 45px; }
    .his-list .date{ font-size: 28px; }
    .his-list .tx{ margin-top: 3px; }
    .cta-list .ti1{ font-size: 18px; }
    .mess-inp>.sele{ flex: 1; }
    .mess-end>p, .mess-inp>label { width: 85px; }
    .inv-list .nowti{ font-size: 14px; }
    .inv-name{ font-size: 16px; }
    .inv-c .ti{ font-size: 18px; }
    .const-list a{ padding-left: 5%; }
    .const-list .pdf-down-btn i{ display: none; }
    .const-list .pdf-down-btn .ico{ margin-right: 0; transform-origin: right center; transform: scale(0.85); }
    .const-list a{ padding-top: 2.67vw; padding-bottom: 2.67vw; }
    .picto-list a{ padding: 5%; }
    .picto-list li{ margin-bottom: 25px; }
    .inv2{ padding-bottom: 45px; }
    .notice-table table td:nth-child(1), .notice-table table th:nth-child(1){ width: 100px; }

    
    
    

} /* 481 */
@media screen and (max-width:361px) {} /* 361 */
@media screen and (max-width:321px) {} /* 341 */
