.header {
  background: #4d4d4d;
  height: 80px;
  line-height: 24px;
  color: #fff; }
  .header a {
    color: #fff; }
  .header .logo {
    float: left;
    width: 164px;
    margin-top: 18px; }
  .header .nav {
    float: left;
    margin-left: 12%; }
    .header .nav > li {
      float: left; }
      .header .nav > li > a {
        display: block;
        position: relative;
        padding: 28px 20px;
        font-size: 15px;
        font-weight: bold; }
        .header .nav > li > a:before {
          content: "";
          position: absolute;
          left: auto;
          right: 0;
          bottom: 0;
          width: 0;
          height: 4px;
          background: #ab4133;
          transition: 600ms; }
        .header .nav > li > a:hover:before, .header .nav > li > a.act:before {
          left: 0;
          right: auto;
          width: 100%; }
  .header .lang {
    float: right;
    padding: 28px 0; }
    .header .lang a {
      float: left;
      font-size: 12px;
      text-transform: uppercase;
      color: #999; }
      .header .lang a + a {
        margin-left: 25px; }
      .header .lang a.act {
        color: #ab4133; }

@media screen and (min-width: 1025px) {
  .header .lang a:hover {
    color: #ab4133; } }

.mtop {
  height: 80px; }

.banner .txts {
  position: absolute;
  top: 32%;
  right: 6%;
  width: 460px;
  color: #000; }
  .banner .txts.white {
    color: #fff; }
  .banner .txts .ti1 {
    font-weight: bold;
    font-size: 50px; }
  .banner .txts .ti2 {
    margin-top: 5px;
    font-size: 24px;
    line-height: 1.25; }
  .banner .txts .more {
    margin-top: 30px; }

.banner .slick-dots {
  bottom: 30px; }
  .banner .slick-dots li {
    border: 1px solid #fff;
    background: none; }
  .banner .slick-dots .slick-active {
    background: #fff; }

.ix-more {
  display: inline-block;
  vertical-align: bottom;
  width: 130px;
  height: 36px;
  background: #2f318b;
  text-align: center;
  line-height: 36px;
  white-space: nowrap;
  color: #fff; }
  .ix-more i {
    display: inline-block;
    vertical-align: middle; }
  .ix-more .sj {
    border-left-width: 4px;
    margin-left: 20px; }

@media screen and (min-width: 1025px) {
  .ix-more:hover {
    background: #ab4133; }
  .banner .slick-dots li:hover {
    background: #fff; } }
