.header {
  background: #4d4d4d;
  height: 80px;
  line-height: 24px;
  color: #fff; }
  .header > .pw {
    position: relative; }
  .header a {
    color: #fff; }
  .header .logo {
    float: left;
    width: 164px;
    margin-top: 18px;
    transition: none; }
  .header .nav {
    float: left;
    margin-left: 12%; }
    .header .nav > li {
      float: left;
      position: relative; }
      .header .nav > li > a {
        display: block;
        position: relative;
        padding: 28px 20px;
        font-size: 15px;
        font-weight: bold; }
        .header .nav > li > a:before {
          content: "";
          position: absolute;
          left: auto;
          right: 0;
          bottom: 0;
          width: 0;
          height: 4px;
          background: #ab4133;
          transition: 600ms; }
        .header .nav > li > a.cur:before, .header .nav > li > a:hover:before, .header .nav > li > a.act:before {
          left: 0;
          right: auto;
          width: 100%; }
        .header .nav > li > a.cur .sj-b {
          transform: none;
          opacity: 1;
          visibility: visible;
          transition-delay: 300ms; }
    .header .nav .sj-b {
      position: absolute;
      left: 50%;
      top: 100%;
      margin-left: -8px;
      border-left-width: 8px;
      border-right-width: 8px;
      border-top-width: 10px;
      color: #ab4133;
      transform: translateY(-20px);
      opacity: 0;
      visibility: hidden;
      transition: 600ms; }
    .header .nav .inv .pull-nav {
      left: -500px; }
  .header .lang {
    float: right;
    padding: 28px 0; }
    .header .lang a {
      float: left;
      font-size: 12px;
      text-transform: uppercase;
      color: #999; }
      .header .lang a + a {
        margin-left: 25px; }
      .header .lang a.act {
        color: #ab4133; }

.pull-nav-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 80px;
  background: #344651;
  display: none; }

.pull-nav {
  position: absolute;
  left: 0;
  padding-top: 28px;
  white-space: nowrap;
  letter-spacing: -6px;
  display: none;
  transform: translateX(40px);
  opacity: 0;
  visibility: hidden;
  transition: 600ms; }
  .pull-nav.show {
    transform: none;
    opacity: 1;
    visibility: visible; }
  .pull-nav a {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    letter-spacing: 0; }
    .pull-nav a + a {
      position: relative;
      margin-left: 50px; }
  .pull-nav .icon {
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px;
    color: #ab4133; }

@media screen and (min-width: 1025px) {
  .header .lang a:hover {
    color: #ab4133; }
  .pull-nav a:hover {
    color: #ab4133; } }

.mtop {
  height: 80px; }

.banner .txts {
  position: absolute;
  top: 32%;
  right: 6%;
  width: 460px;
  color: #000; }
  .banner .txts.white {
    color: #fff; }
  .banner .txts .ti1 {
    font-weight: bold;
    font-size: 50px; }
  .banner .txts .ti2 {
    margin-top: 5px;
    font-size: 24px;
    line-height: 1.25; }
  .banner .txts .more {
    margin-top: 30px; }

.banner .slick-dots {
  bottom: 30px; }
  .banner .slick-dots li {
    border: 1px solid #fff;
    background: none; }
  .banner .slick-dots .slick-active {
    background: #fff; }

.banner .pic2 .m {
  display: none; }

.ix-more {
  display: inline-block;
  vertical-align: bottom;
  width: 130px;
  height: 36px;
  background: #2f318b;
  text-align: center;
  line-height: 36px;
  white-space: nowrap;
  color: #fff; }
  .ix-more i {
    display: inline-block;
    vertical-align: middle; }
  .ix-more .sj {
    border-left-width: 4px;
    margin-left: 20px; }

@media screen and (min-width: 1025px) {
  .ix-more:hover {
    background: #ab4133; }
  .banner .slick-dots li:hover {
    background: #fff; } }

.footer {
  background: #4d4d4d;
  padding: 16px 0;
  font-size: 12px;
  line-height: 24px;
  color: #fff; }
  .footer a {
    color: #fff; }
  .footer .f-ctas {
    float: left; }
  .footer .f-cop {
    float: right; }

.f-ctas {
  overflow: hidden; }
  .f-ctas p {
    float: left;
    font-size: 14px; }
    .f-ctas p + p {
      margin-left: 40px; }
  .f-ctas i {
    display: inline-block;
    vertical-align: bottom; }
  .f-ctas .icon {
    width: 22px;
    height: 22px;
    margin: 0 8px 1px 0;
    border-radius: 3px;
    background: #fff;
    color: #4d4d4d;
    text-align: center;
    line-height: 22px; }
  .f-ctas .num {
    margin-left: 8px;
    font-weight: bold;
    font-size: 18px; }

@media screen and (min-width: 1025px) {
  .footer a:not(.na):hover {
    color: #ab4133; } }

.container {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url(../images/bg.jpg); }

.ix-news {
  float: left;
  width: 47%; }

.ix-ti {
  border-bottom: 2px solid #ccc; }
  .ix-ti .ti {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    padding: 0 15px 10px 0;
    font-weight: bold;
    font-size: 20px;
    color: #333; }
    .ix-ti .ti:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -2px;
      height: 2px;
      background: #ab4133; }
  .ix-ti .more {
    float: right;
    padding-top: 5px;
    font-size: 12px;
    color: #999; }

@media screen and (min-width: 1025px) {
  .ix-ti .more:hover {
    color: #ab4133; } }

.in-s {
  display: block;
  overflow: hidden; }
  .in-s .pic {
    float: left;
    width: 185px;
    height: 115px;
    margin-right: 25px; }
  .in-s .txts {
    overflow: hidden; }
  .in-s .nowti {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    transition: 300ms; }
  .in-s .tx {
    margin-top: 4px;
    height: 48px; }
  .in-s .in-date {
    margin-top: 20px; }

.in-date {
  line-height: 20px;
  font-size: 12px; }
  .in-date i {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
    font-size: 12px; }

@media screen and (min-width: 1025px) {
  .in-s:hover .nowti {
    color: #ab4133; } }

.in-x {
  line-height: 34px; }
  .in-x a {
    display: block;
    overflow: hidden; }
  .in-x .date {
    float: right;
    width: 80px;
    text-align: right;
    font-size: 12px;
    color: #999;
    transition: 300ms; }
  .in-x .nowti {
    line-height: 34px; }

@media screen and (min-width: 1025px) {
  .in-x a:hover .date,
  .in-x a:hover {
    color: #ab4133; } }

.in-list {
  overflow: visible; }
  .in-list .item {
    padding: 35px 0; }
  .in-list .in-x {
    border-top: 1px dashed #ccc;
    margin-top: 35px;
    padding-top: 25px; }

.in-arrow .slick-arrow {
  top: auto;
  bottom: 100%;
  margin: 0 0 10px 0;
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  background: none;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  font-weight: bold;
  font-family: "iconfont" !important; }

.in-arrow .slick-prev {
  left: auto;
  right: 30px; }
  .in-arrow .slick-prev:before {
    content: "\e65d"; }

.in-arrow .slick-next:before {
  content: "\e65e"; }

@media screen and (min-width: 1025px) {
  .in-arrow .slick-arrow:hover {
    background: #ab4133;
    border-color: #ab4133;
    color: #fff; } }

.ix-pro {
  float: right;
  width: 46%; }

.ip-lb {
  width: 529px !important; }

.ip-list {
  margin-left: -28px; }
  .ip-list li {
    width: 33.33%;
    float: left;
    margin-bottom: 15px; }
  .ip-list a {
    display: block;
    margin-left: 28px; }
  .ip-list .pai {
    padding-bottom: 69.69%; }
  .ip-list .nowti {
    padding: 0 5%;
    margin-top: 10px;
    height: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center; }

@media screen and (min-width: 1025px) {
  .ip-list a:hover {
    color: #ab4133; } }

.ip-sli {
  overflow: visible; }
  .ip-sli .item {
    padding-top: 35px; }

.ix1 {
  padding: 40px 0 35px 0; }

.menu-handler {
  background: #ab4133; }
  .menu-handler .burger {
    background: #fff; }

.menuBox {
  z-index: 1011;
  width: 320px;
  right: -320px;
  background: #f2f2f2; }
  .menuBox .lang {
    height: 60px;
    padding: 0 25px;
    overflow: hidden; }
    .menuBox .lang a {
      float: left;
      margin-top: 22px;
      line-height: 1;
      font-size: 16px; }
      .menuBox .lang a.act {
        color: #ab4133; }
      .menuBox .lang a + a {
        border-left: 1px solid #ccc;
        padding-left: 10px;
        margin-left: 10px; }

.navMobile a {
  display: block;
  line-height: 1.4; }

.navMobile dd > a {
  padding: 16px 25px;
  font-size: 18px; }
  .navMobile dd > a.act {
    background: #ab4133;
    color: #fff; }

.navMobile .mtv {
  background: #fff;
  padding: 10px 0 20px 0;
  display: none; }
  .navMobile .mtv > a {
    padding: 8px 35px;
    font-size: 16px; }

.page-t {
  background: #f2f2f2;
  padding: 15px 0 70px 0; }
  .page-t .page-ti {
    margin-top: 50px; }
  .page-t .ab-tx {
    margin-top: 60px; }

.bread-nav {
  color: #344651;
  line-height: 24px; }
  .bread-nav a {
    color: #344651; }
    .bread-nav a.act {
      color: #ab4133; }
  .bread-nav .icon {
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
    margin-right: 10px; }

@media screen and (min-width: 1025px) {
  .bread-nav a:hover {
    color: #ab4133; } }

.page-ti .ti {
  font-size: 32px;
  color: #333; }

.ab-tx {
  border-left: 1px solid #ccc;
  padding-left: 20px; }

.ab1 {
  padding-bottom: 100px; }
  .ab1 .pic {
    margin-bottom: 50px; }
  .ab1 .comp-infor,
  .ab1 .subcomp-list {
    margin-top: 50px; }

.subcomp-list li + li {
  margin-top: 5px; }

.subcomp-list li.act .t {
  background: #4d4d4d;
  color: #fff; }

.subcomp-list .t {
  background: #e5e5e5;
  padding: 20px 30px;
  line-height: 24px;
  overflow: hidden;
  cursor: pointer;
  transition: 300ms; }

.subcomp-list .name {
  line-height: 24px;
  font-size: 18px;
  overflow: hidden; }

.subcomp-list .more {
  float: right;
  width: 80px;
  text-align: right; }

.subcomp-list .b {
  border: 1px solid #ccc;
  border-top: none;
  padding: 30px 40px 40px 40px;
  display: none; }

.subcomp-list .pic2 {
  float: right;
  margin-left: 40px; }

@media screen and (min-width: 1025px) {
  .subcomp-list li:hover .t {
    background: #4d4d4d;
    color: #fff; } }

.cul-map {
  width: 820px;
  margin: 0 auto;
  max-width: 90%; }
  .cul-map .t {
    position: relative;
    height: 111px;
    padding-top: 30px;
    margin-bottom: 10px;
    background: url(../images/bg1.jpg) no-repeat center bottom;
    box-sizing: border-box;
    text-align: center; }
    .cul-map .t .cm-ti {
      bottom: 0; }
  .cul-map .cont {
    margin-left: 125px; }
  .cul-map .logo {
    line-height: 1; }
    .cul-map .logo img {
      vertical-align: bottom;
      max-width: 100%; }
  .cul-map .ti {
    margin-top: 8px;
    font-size: 20px;
    color: #333; }
  .cul-map .c, .cul-map .b {
    position: relative;
    padding: 0 15px;
    background: #5e7ead;
    color: #fff; }
    .cul-map .c a, .cul-map .b a {
      color: #fff; }
    .cul-map .c .cm-ti, .cul-map .b .cm-ti {
      border-top: 2px solid #5e7ead; }
  .cul-map .cm-ti {
    position: absolute;
    right: 100%;
    width: 125px;
    white-space: nowrap;
    text-align: left; }
  .cul-map .b {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    text-align: center; }
    .cul-map .b .cm-ti {
      top: 0;
      padding-top: 8px; }
  .cul-map .cm-tx {
    font-size: 16px;
    line-height: 1.4; }
  .cul-map .c {
    padding-top: 20px;
    padding-bottom: 20px; }
    .cul-map .c .ti1 {
      top: 0;
      padding-top: 37px; }
    .cul-map .c .ti2 {
      top: 100px;
      padding-top: 23px; }

.cm-ti {
  font-size: 16px;
  line-height: 1.4;
  font-weight: bold;
  color: #333; }

.cm-list {
  margin-left: -5px; }
  .cm-list li {
    width: 25%;
    float: left; }
  .cm-list .ma {
    margin-left: 5px;
    padding-top: 15px; }
  .cm-list .nowti {
    line-height: 30px;
    font-size: 18px; }
  .cm-list .ico {
    float: left;
    width: 30px;
    height: 30px;
    background-image: url(../images/ico1.png);
    background-position: 0 top; }
  .cm-list .cm2 .ico {
    background-position: 0 -30px; }
  .cm-list .cm3 .ico {
    background-position: 0 -60px; }
  .cm-list .cm4 .ico {
    background-position: 0 bottom; }
  .cm-list .freeTx {
    background: #fff;
    margin-top: 35px;
    height: 200px;
    box-sizing: border-box;
    padding: 25px 15px;
    color: #666;
    font-size: 12px;
    transition: 400ms; }
    .cm-list .freeTx a {
      color: #666; }

@media screen and (min-width: 1025px) {
  .cm-list .ma:hover .freeTx {
    transform: translateY(-10px); }
  .cm-list .ma:hover .ico {
    animation: logoShow .5s 1; } }

.ab2 {
  padding: 70px 0 100px 0; }

.spec-news {
  display: block;
  padding: 15px 40px 15px 25px;
  border: 1px solid #ccc; }
  .spec-news .pic {
    float: left;
    width: 44%;
    height: 298px;
    margin-right: 40px; }
  .spec-news .txts {
    overflow: hidden;
    padding-top: 10px; }
  .spec-news .nowti {
    margin-bottom: 7px;
    font-size: 24px;
    color: #333;
    transition: 300ms; }
  .spec-news .tx {
    margin-top: 30px;
    height: 72px; }
  .spec-news .more {
    margin-top: 70px;
    line-height: 1; }

.nw-more {
  display: inline-block;
  vertical-align: bottom;
  width: 112px;
  height: 28px;
  border: 1px solid #666;
  line-height: 28px;
  white-space: nowrap;
  text-align: center;
  font-size: 12px;
  transition: 300ms; }
  .nw-more .icon {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 20px;
    font-size: 12px;
    font-weight: bold; }

@media screen and (min-width: 1025px) {
  .nw-more:hover {
    background: #ab4133;
    border-color: #ab4133;
    color: #fff; }
  .spec-news:hover .nowti {
    color: #ab4133; } }

.news-list a {
  display: block;
  position: relative;
  padding: 0 10px;
  overflow: hidden;
  line-height: 40px; }
  .news-list a:before {
    content: "";
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    background: #f2f2f2;
    transition: 400ms; }

.news-list .nowti {
  line-height: 40px; }
  .news-list .nowti i {
    letter-spacing: -2px; }

.news-list .a2 {
  opacity: 0.7;
  margin-right: 15px; }

.news-list .date {
  float: right;
  width: 80px;
  text-align: right;
  font-size: 12px; }

.news-list p {
  position: relative; }

@media screen and (min-width: 1025px) {
  .news-list a:hover:before {
    top: 0;
    bottom: auto;
    height: 100%; }
  .news-list a:hover {
    color: #ab4133; } }

.nw1 {
  padding: 70px 0 100px 0; }
  .nw1 .news-list {
    margin-top: 60px;
    border-bottom: 1px dashed #ccc; }
  .nw1 .pager {
    margin-top: 60px; }

.pager span {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0;
  line-height: 34px;
  font-size: 20px; }

.pager .cnum, .pager .anum {
  font-style: italic; }

.pager .cnum {
  color: #ab4133; }

.pager a {
  width: 32px;
  height: 32px;
  border: 1px solid #666;
  font-size: 20px;
  line-height: 32px; }

.pager .icon-xiangzuojiantou {
  margin-right: 20px; }

.pager .icon-xiangyoujiantou {
  margin-left: 20px; }

@media screen and (min-width: 1025px) {
  .pager a:hover {
    color: #fff;
    background: #ab4133;
    border-color: #ab4133; } }

.nd-t {
  background: #f2f2f2;
  padding: 80px 0 70px 0; }
  .nd-t .ti {
    font-size: 24px;
    font-weight: bold;
    color: #333; }
  .nd-t .nd-mess {
    margin-top: 10px; }
    .nd-t .nd-mess li {
      vertical-align: middle; }
      .nd-t .nd-mess li + li {
        margin-left: 20px; }
  .nd-t .in-date {
    font-size: 14px; }
    .nd-t .in-date i {
      font-size: 14px; }

.share a {
  background: none !important;
  font-size: 14px !important;
  opacity: 1 !important;
  color: #666 !important; }
  .share a:before {
    content: ""; }
  .share a:after {
    content: "\e60e";
    font-size: 16px; }

@media screen and (min-width: 1025px) {
  .share a:hover {
    color: #ab4133 !important; } }

.nd-b {
  padding: 70px 0 100px 0; }
  .nd-b .freeTx {
    padding: 0 60px; }
  .nd-b .nd-back {
    margin-top: 70px; }

.nd-back {
  border-top: 1px solid #ccc;
  padding-top: 50px;
  line-height: 42px; }
  .nd-back a {
    display: block; }
  .nd-back .back {
    width: 114px;
    height: 42px;
    background: #ab4133;
    margin: 0 auto;
    text-align: center;
    color: #fff; }
  .nd-back .pre {
    float: left; }
  .nd-back .nex {
    float: right; }
  .nd-back .nowti {
    line-height: 42px;
    max-width: 40%; }

@media screen and (min-width: 1025px) {
  .nd-back a:not(.back):hover {
    color: #ab4133; }
  .nd-back .back:hover {
    background: #666; } }

.job-mess-list li + li {
  margin-top: 3px; }

.job-mess-list li.act .t {
  background: #ab4133; }

.job-mess-list li.act .job-plus:before {
  transform: rotate(90deg); }

.job-mess-list .t {
  background: #999;
  position: relative;
  padding: 0 30px;
  color: #fff;
  transition: 300ms;
  cursor: pointer; }
  .job-mess-list .t .nowti {
    max-width: 90%;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold; }

.job-mess-list .b {
  background: #f2f2f2;
  padding: 45px 50px 70px 50px;
  display: none; }

.job-mess-list .job-plus {
  right: 30px; }

.job-plus {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  width: 20px;
  height: 2px;
  background: #fff;
  transition: 300ms; }
  .job-plus:before {
    content: "";
    position: absolute;
    left: 9px;
    top: -9px;
    width: 2px;
    height: 20px;
    background: #fff;
    transition: 300ms; }

@media screen and (min-width: 1025px) {
  .job-mess-list li:hover .t {
    background: #ab4133; } }

.jb1 {
  padding: 70px 0 100px 0; }

.recruit-list li:not(:first-child) {
  border-bottom: 1px solid #666; }

.recruit-list li:first-child .t {
  background: #666;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: default; }

.recruit-list li.act .t {
  color: #fff;
  background: #ab4133; }

.recruit-list li.act .job-plus, .recruit-list li.act .job-plus:before {
  background: #fff; }

.recruit-list li.act .job-plus:before {
  transform: rotate(90deg); }

.recruit-list .t {
  padding-right: 60px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 300ms; }
  .recruit-list .t .job-plus {
    right: 30px;
    background: #666; }
    .recruit-list .t .job-plus:before {
      background: #666; }
  .recruit-list .t > div {
    float: left;
    width: 15%; }
  .recruit-list .t .r1 {
    width: 25%; }
    .recruit-list .t .r1 .nowti {
      padding-left: 50px; }
  .recruit-list .t .nowti {
    line-height: 54px; }

.recruit-list .b {
  background: #f2f2f2;
  padding: 45px 50px 50px 50px;
  display: none; }

.recruit-list .apply-btn {
  color: #fff; }

.recruit-list .more {
  margin-top: 40px;
  line-height: 1; }

.apply-btn {
  display: inline-block;
  vertical-align: bottom;
  width: 110px;
  height: 34px;
  background: #999;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  line-height: 34px; }

@media screen and (min-width: 1025px) {
  .apply-btn:hover {
    background: #ab4133; }
  .recruit-list li:not(:first-child):hover .t {
    background: #ab4133;
    color: #fff; }
  .recruit-list li:not(:first-child):hover .job-plus:before,
  .recruit-list li:not(:first-child):hover .job-plus {
    background: #fff; } }

#pro1 {
  background: #f2f2f2; }

.pro-ti {
  font-style: italic;
  color: #ab4133; }
  .pro-ti span {
    display: inline-block;
    vertical-align: bottom; }
  .pro-ti .ch {
    margin-right: 15px;
    font-weight: bold;
    line-height: 1.1;
    font-size: 30px; }
  .pro-ti .en {
    font-size: 16px;
    text-transform: uppercase; }
  .pro-ti.white {
    color: #fff; }

.pro-intro .ig {
  float: right;
  margin-left: 2.5%;
  width: 47.5%; }

.pro-intro .pro-ti {
  margin-bottom: 30px; }

.pro-list {
  padding: 0 45px;
  margin-left: -30px; }
  .pro-list .item > a {
    display: block;
    margin-left: 30px;
    text-align: center; }
  .pro-list .pai {
    padding-bottom: 80.56%; }
  .pro-list .nowti {
    margin-top: 10px;
    padding: 0 5%;
    text-transform: uppercase; }
  .pro-list .slick-prev {
    left: 30px; }

@media screen and (min-width: 1025px) {
  .pro-list .item > a:hover {
    color: #ab4133; } }

.slick-arrow {
  font-family: "iconfont" !important;
  font-weight: bold;
  text-align: center; }

.slick-prev:before {
  content: "\e660"; }

.slick-next:before {
  content: "\e65f"; }

.pro-arrow .slick-arrow {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background: #999;
  line-height: 28px;
  color: #fff;
  font-size: 14px; }

@media screen and (min-width: 1025px) {
  .pro-arrow .slick-arrow:hover {
    background: #ab4133; } }

.pro1 {
  padding: 70px 0 100px 0; }
  .pro1 .pro-list {
    margin-top: 40px; }
  .pro1 .anti-fake {
    margin-top: 60px; }

#pro3 {
  background: #666; }

.anti-fake {
  width: 560px;
  margin: 0 auto;
  max-width: 100%; }
  .anti-fake .inp-b {
    overflow: hidden; }
    .anti-fake .inp-b + .inp-b {
      margin-top: 15px; }
    .anti-fake .inp-b input, .anti-fake .inp-b .lin {
      float: left;
      height: 40px; }
    .anti-fake .inp-b input {
      box-sizing: border-box;
      width: 40%;
      padding-left: 15px;
      background: #fff;
      transition: 300ms; }
      .anti-fake .inp-b input:focus {
        background: #ccc; }
    .anti-fake .inp-b .lin {
      width: 20%;
      position: relative; }
      .anti-fake .inp-b .lin:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 15px;
        right: 15px;
        border-top: 1px solid #fff; }
  .anti-fake .subBtn {
    margin-top: 25px;
    width: 100%;
    height: 40px;
    background: #ab4133;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms; }

@media screen and (min-width: 1025px) {
  .anti-fake .subBtn:hover {
    background: #999; } }

.pro-search {
  background: #666;
  padding: 25px 0; }
  .pro-search input, .pro-search select, .pro-search .icon {
    float: left;
    height: 34px;
    box-sizing: border-box; }
  .pro-search input, .pro-search select {
    padding-left: 10px;
    width: 190px;
    margin-right: 8px;
    background-color: #fff; }
  .pro-search select {
    background-image: url(../images/aw1.png);
    background-repeat: no-repeat;
    background-position: 95% center; }
  .pro-search input {
    transition: 300ms; }
    .pro-search input:focus {
      background: #f2f2f2; }
  .pro-search .icon {
    width: 74px;
    background: #ab4133;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    color: #fff; }
    .pro-search .icon:before {
      content: ""; }
    .pro-search .icon:after {
      content: "\e643";
      font-size: 16px;
      font-weight: normal; }

@media screen and (min-width: 1025px) {
  .pro-search .icon:hover {
    background: #999; } }

.pro-base-mess {
  background: #f2f2f2;
  padding: 70px 0 100px 0; }
  .pro-base-mess .pro-mess-list {
    margin-top: 60px; }
  .pro-base-mess .pro-ti {
    margin-bottom: 30px; }

.pro-mess-list li {
  line-height: 1; }
  .pro-mess-list li + li {
    margin-left: 45px;
    padding-left: 45px;
    border-left: 1px solid #ccc; }

.pro-mess-list span {
  display: block;
  margin-bottom: 10px;
  font-size: 20px; }

.pd-ti {
  line-height: 1.4;
  color: #333;
  font-size: 20px;
  font-weight: bold; }

.pro-tx {
  padding: 70px 0 100px 0; }
  .pro-tx .pd-ti {
    margin-bottom: 25px; }
  .pro-tx .pro-table {
    margin-top: 60px; }

.pro-table table {
  width: 100%; }
  .pro-table table td {
    padding: 10px 25px;
    border: 1px solid #ccc; }

.pro-table .tit {
  background: #e5e5e5;
  padding-left: 50px; }

.query-t {
  background: #f2f2f2;
  padding: 15px 25px;
  line-height: 30px; }
  .query-t .c-selicts {
    float: left;
    margin-left: 10px;
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #ccc;
    background: #fff url(../images/aw1.png) no-repeat 95% center;
    box-sizing: border-box;
    font-size: 12px; }

.query-map {
  background: #f2f2f2;
  height: 490px;
  overflow: hidden; }

.ser-tx .ti {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333; }

.ser-tx .query-t {
  margin-top: 60px; }

.ser-tx .query-map {
  margin-bottom: 35px; }

.ser1 {
  padding: 70px 0 100px 0; }
  .ser1 .query-table {
    margin-top: 60px; }

.query-table {
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }
  .query-table table {
    width: 100%; }
    .query-table table td, .query-table table th {
      padding: 15px 15px 15px 35px;
      border: 1px solid #ccc; }
    .query-table table th {
      color: #333; }

@media screen and (min-width: 1025px) {
  .query-table a:not(.na):hover {
    color: #ab4133;
    text-decoration: underline; } }

.sos-box {
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -182px;
  padding: 0 10%;
  font-size: 12px; }
  .sos-box img {
    vertical-align: bottom;
    max-width: 90%; }
  .sos-box .ch {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold; }
  .sos-box .en {
    margin-top: 10px;
    font-size: 22px; }
  .sos-box .tx1 {
    margin-top: 60px; }
  .sos-box .ib {
    color: #999;
    text-decoration: underline; }
    .sos-box .ib + .ib {
      margin-left: 30px; }
  .sos-box .fib {
    margin-top: 10px; }

@media screen and (min-width: 1025px) {
  .sos-box .ib:hover {
    color: #ab4133; } }

.rd-tx .rdi-list {
  width: 44%;
  float: right;
  margin-left: 5%; }

.rdi-list .item {
  color: #fff; }

.rdi-list .pai {
  padding-bottom: 70.59%; }

.rdi-list .nowti {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/black5.png);
  padding: 0 5%;
  line-height: 50px;
  text-align: center; }

.rd-arrow .slick-arrow {
  width: auto;
  background: none;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.7); }

.rd-arrow .slick-prev {
  left: 10px; }

.rd-arrow .slick-next {
  right: 10px; }

@media screen and (min-width: 1025px) {
  .rd-arrow .slick-arrow:hover {
    color: #ab4133; } }

.honor-list {
  margin-left: -70px; }
  .honor-list a {
    width: 33.33%;
    float: left;
    margin-bottom: 35px; }
  .honor-list .pai {
    padding-bottom: 70.59%;
    border: 3px solid #ccc;
    transition: 300ms; }
  .honor-list .ma {
    margin-left: 70px;
    position: relative; }
  .honor-list .nowti {
    height: 20px;
    margin-top: 10px;
    line-height: 20px;
    text-align: center; }
  .honor-list figure {
    display: none; }

@media screen and (min-width: 1025px) {
  .honor-list a:hover {
    color: #ab4133; }
  .honor-list a:hover .pai {
    border-color: #ab4133; } }

.ab3 {
  padding: 70px 0 65px 0; }
  .ab3 .honor-list {
    margin-top: 70px; }

.his-list {
  padding: 0 55px; }
  .his-list:before {
    content: "";
    position: absolute;
    top: 234px;
    left: 0;
    right: 0;
    height: 2px;
    background: #ccc; }
  .his-list .his-cont {
    position: relative;
    margin-left: 60px; }
  .his-list .date {
    height: 34px;
    line-height: 34px;
    font-size: 34px;
    font-weight: bold;
    transition: 300ms; }
  .his-list .tx {
    margin-top: 8px;
    color: #999;
    height: 24px; }
  .his-list .pic {
    margin-top: 8px;
    height: 118px;
    border: 1px solid #ccc; }
  .his-list .item1 {
    padding-top: 234px; }
    .his-list .item1 .his-cont {
      padding-top: 70px; }
    .his-list .item1 .dot1 {
      top: -5px; }
      .his-list .item1 .dot1:before {
        top: 100%;
        margin-top: 2px; }
    .his-list .item1 .dot2 {
      top: 85px; }
  .his-list .item2 .his-cont {
    padding-bottom: 47px; }
  .his-list .item2 .dot1 {
    bottom: 0; }
    .his-list .item2 .dot1:before {
      bottom: 100%;
      margin-bottom: 2px; }
  .his-list .item2 .dot2 {
    bottom: 90px; }
  .his-list .dot1 {
    right: 100%;
    margin-right: 48px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: 2px solid #fff; }
    .his-list .dot1:before {
      left: 3px;
      width: 2px;
      height: 80px; }
  .his-list .dot, .his-list .dot:before {
    background: #ccc;
    transition: 300ms; }
  .his-list .dot {
    position: absolute; }
    .his-list .dot:before {
      content: "";
      position: absolute; }
  .his-list .dot2 {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    right: 100%;
    margin-right: 15px; }
    .his-list .dot2:before {
      top: 2px;
      right: 100%;
      width: 34px;
      height: 2px; }
  .his-list .slick-arrow {
    top: 214px;
    margin: 0; }

.his-arrow .slick-arrow {
  border: 1px solid #ccc;
  border-radius: 100%;
  background: #fff;
  font-size: 16px;
  line-height: 40px; }

@media screen and (min-width: 1025px) {
  .his-arrow .slick-arrow:hover {
    background-color: #ab4133;
    border-color: #ab4133;
    color: #fff; }
  .his-list .his-cont:hover .dot1 {
    background: #fff;
    border-color: #ab4133; }
  .his-list .his-cont:hover .dot:before,
  .his-list .his-cont:hover .dot2 {
    background: #ab4133; }
  .his-list .his-cont:hover .date {
    color: #ab4133; } }

.ab4 {
  padding: 70px 0 100px 0; }

.cta-list {
  margin-left: -50px; }
  .cta-list li {
    width: 50%;
    float: left;
    margin-bottom: 70px;
    font-size: 16px; }
  .cta-list .ma {
    margin-left: 50px; }
  .cta-list .ti {
    color: #333; }
  .cta-list .ti1 {
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 20px; }
  .cta-list .ti2 {
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc;
    font-size: 14px; }
  .cta-list .item1 {
    clear: both; }

@media screen and (min-width: 1025px) {
  .cta-list a:not(.na):hover {
    color: #ab4133; } }

.consult-group .consu-ma, .consult-group .consu-qq {
  float: left; }

.consu-qq {
  width: 104px;
  height: 104px;
  border-radius: 100%;
  padding-top: 25px;
  background: #666;
  box-sizing: border-box;
  color: #fff;
  text-align: center; }
  .consu-qq .icon {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
    font-size: 20px; }
  .consu-qq + .consu-qq {
    margin-left: 30px; }

.consu-ma {
  text-align: center;
  margin-left: 30px; }
  .consu-ma > img {
    display: block;
    margin-bottom: 5px;
    width: 102px;
    border: 1px solid #ccc; }

@media screen and (min-width: 1025px) {
  .consu-qq:hover {
    background-color: #ab4133; } }

.mess-tx {
  background: #e5e5e5;
  padding: 18px 25px; }
  .mess-tx .re {
    color: #ab4133; }

.fill-in-mess .co {
  padding: 0 25px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }

.fill-in-mess .must {
  color: #ab4133; }

.fill-in-mess .t {
  padding-top: 40px;
  padding-bottom: 80px; }
  .fill-in-mess .t .mess-end {
    margin-top: 70px; }

.fill-in-mess .b {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 40px; }
  .fill-in-mess .b .mess-end {
    margin-top: 10px;
    line-height: 26px; }
  .fill-in-mess .b > p {
    margin-bottom: 15px; }

.mess-inp {
  overflow: hidden;
  line-height: 32px; }
  .mess-inp + .mess-inp {
    margin-top: 10px; }
  .mess-inp > label {
    float: left;
    width: 145px;
    font-weight: bold; }
  .mess-inp > .inp {
    width: 680px;
    float: left; }
  .mess-inp .inp {
    box-sizing: border-box;
    line-height: 1.8;
    transition: 300ms; }
    .mess-inp .inp:focus {
      border-color: #ab4133; }
  .mess-inp > .sele {
    width: 180px;
    float: left; }
  .mess-inp .sele {
    background: url(../images/aw1.png) no-repeat 93% center; }
  .mess-inp .sele, .mess-inp .inp {
    height: 32px;
    border: 1px solid #ccc;
    padding-left: 15px; }
  .mess-inp .mess-type, .mess-inp .tel {
    overflow: hidden; }
  .mess-inp .t1 {
    width: 70px;
    margin-left: 10px; }
  .mess-inp .t2 {
    width: 220px;
    margin-left: 5px; }
  .mess-inp .t3 {
    width: 80px; }

.mess-chec {
  overflow: hidden;
  line-height: 24px; }
  .mess-chec + .mess-chec {
    margin-top: 6px; }
  .mess-chec > label {
    overflow: hidden; }
  .mess-chec .chec {
    float: left;
    position: relative;
    margin: 5px 10px 0 0;
    width: 12px;
    height: 12px;
    border: 1px solid #ccc; }
    .mess-chec .chec:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -7px 0 0 -9px;
      width: 18px;
      height: 14px;
      background: url(../images/g.png) no-repeat;
      opacity: 0;
      visibility: hidden;
      transition: 300ms; }
  .mess-chec input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden; }
  .mess-chec.act .chec:before {
    opacity: 1;
    visibility: visible; }

.mess-type {
  line-height: 24px; }
  .mess-type > p {
    padding-top: 4px;
    margin-bottom: 15px; }

.mess-end {
  overflow: hidden;
  line-height: 24px; }
  .mess-end > p {
    width: 145px;
    float: left; }
  .mess-end .mess-sub {
    overflow: hidden; }
  .mess-end .mess-chec {
    margin-bottom: 2px; }
  .mess-end .sub {
    padding: 0 15px;
    height: 26px;
    min-width: 70px;
    background: url(../images/bg2.jpg) left top;
    transition: 300ms; }

@media screen and (min-width: 1025px) {
  .mess-end .sub:hover {
    opacity: 0.7; } }

.cta1 {
  padding: 70px 0 100px 0; }
  .cta1 .fill-in-mess {
    margin-top: 70px; }

.inv-c + .inv-c {
  margin-top: 45px; }

.inv-c .ti {
  margin-bottom: 20px;
  font-size: 20px;
  color: #ab4133; }

.inv-c .inv-link {
  margin-top: 20px;
  text-decoration: underline; }

.inv-name {
  background: #4d4d4d;
  padding: 20px 30px;
  font-size: 18px;
  color: #fff; }

.inv-list {
  border: 1px solid #ccc; }
  .inv-list li + li {
    border-top: 1px solid #ccc; }
  .inv-list li.act .t {
    background: #ccc; }
  .inv-list li.act .more {
    color: #ab4133; }
  .inv-list .t {
    padding: 20px 30px;
    color: #333;
    line-height: 24px;
    cursor: pointer;
    transition: 300ms; }
  .inv-list .more {
    float: right;
    width: 60px;
    text-align: right;
    transition: 300ms; }
  .inv-list .nowti {
    font-size: 16px;
    line-height: 24px; }
  .inv-list .b {
    padding: 30px 30px 50px 30px;
    background: #f2f2f2;
    display: none; }

.inv-link {
  display: block;
  color: #ab4133; }

@media screen and (min-width: 1025px) {
  .inv-list li:hover .t {
    background: #ccc; }
  .inv-list li:hover .more {
    color: #ab4133; }
  .inv-link:hover {
    text-decoration: none; } }

.inv1 {
  padding: 70px 0 100px 0; }

.comp-infor table {
  width: 100%;
  background: #dde4e8; }
  .comp-infor table tr:nth-child(2n) {
    background: #fff; }
  .comp-infor table td, .comp-infor table th {
    padding: 15px 20px 15px 40px;
    vertical-align: top; }
  .comp-infor table th {
    font-weight: normal; }

.const-list a {
  display: block;
  padding: 16px 40px 16px 15px;
  border: 1px solid #ccc;
  overflow: hidden; }
  .const-list a + a {
    margin-top: 15px; }

.const-list .pdf-down-btn {
  float: right;
  margin-left: 30px; }

.const-list .nowti {
  line-height: 26px; }

.pdf-down-btn {
  line-height: 26px; }
  .pdf-down-btn .ico {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    width: 26px;
    height: 26px;
    background: url(../images/pdf.png) no-repeat; }

@media screen and (min-width: 1025px) {
  .const-list a:hover {
    background: #f2f2f2; } }

.picto-list {
  margin-left: -45px; }
  .picto-list li {
    width: 50%;
    float: left;
    margin-bottom: 35px; }
  .picto-list a {
    display: block;
    padding: 20px;
    border: 1px solid #ccc;
    margin-left: 45px;
    overflow: hidden; }
  .picto-list .pic2 {
    float: left;
    width: 195px;
    margin-right: 30px; }
  .picto-list .txts {
    overflow: hidden; }
  .picto-list .nowti {
    margin-bottom: 10px; }

@media screen and (min-width: 1025px) {
  .picto-list a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #f2f2f2; } }

.inv2 {
  padding: 70px 0 65px 0; }

.select-year {
  margin-bottom: 15px; }
  .select-year .year {
    line-height: 40px;
    font-size: 24px;
    color: #333; }
  .select-year .sele {
    float: right;
    width: 160px;
    height: 40px;
    padding-left: 15px;
    background: url(../images/aw1.png) no-repeat 92% center;
    border: 1px solid #ccc; }

.notice-table table {
  width: 100%; }
  .notice-table table th {
    background: #a5b9c2;
    color: #fff;
    font-weight: normal; }
  .notice-table table td, .notice-table table th {
    padding: 15px 20px 15px 40px;
    vertical-align: top; }
  .notice-table table tr {
    background: #dde4e8; }
    .notice-table table tr:nth-child(2n) {
      background: #fff; }

#pro3 {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url(../images/bg3.jpg); }
